<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置springmvc-->
    <!--1：开启springmvc注解模式
        2：简化配置
           (a).自动注册DefaultAnnotationHandlerMapping AnnotationMethodHandlerAdapter
           (b).提供一系列：数据绑定 数字和日期的format @numberformat @DateTimeFormat json默认读写支持-->
    <mvc:annotation-driven/>

    <!--静态资源默认servlet配置
        1、加入对静态资源的处理；js git png
        2、允许使用“/”做资源映射
    -->
    <mvc:default-servlet-handler/>
    <import resource="mybatis-context.xml"/>


    <!--配置jsp 显示viewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--扫描web相关-->
    <context:component-scan base-package="org.seckill.web"/>

</beans>